
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}
.welcome {
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.freaky{
    transition: font-size 1s;
}
.freaky:hover{
    text-decoration: underline;
    font-size: 70px;
}



.button1 {
    display: block;
    background-color: olivedrab;
    border-color: green;
    border-style: solid;
    border-width: 3px;
    color:bisque;
    font-weight: bold;
    font-size: 15;
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 8px;
    transition: opacity .5s;
    

}

.button1:hover{
    box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}
.button1:hover {
    opacity: 0.7;
}

.button1:active {
    opacity: 0.8;
}
.button2{
    display: block;
    background-color: whitesmoke;
    border-color: green;
    border-style: solid;
    border-width: 3px;
    color:green;
    font-size: 15;
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 8px;
    transition: background-color .5s,
        color 1s,
        box-shadow 0.15s;
}
.button2:hover {
    background-color: green;
    color: white;
}

.button2:hover{
    box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}


.button2:active {
    opacity: 0.8;
}



